body {
    display: block;
}
@media (orientation: portrait) {
    body {
        background-image: url(../img/Gearsecond.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-attachment: fixed;
    }
}

@media (orientation:landscape) {
    body {
        background-image: url(../img/Boundman.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        background-position-x: center;
        background-attachment: fixed;
    }
}